if type === 'text'
    include ./text
else if type === 'image'
    include ./image
else if type === 'video'
    include ./video
else if type === 'voice'
    include ./voice
else if type === 'news'
    include ./news
else if type === 'music'
    include ./music